# Terraform local data & state files
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
backend.hcl
backend.tfvars

# Executables & Binaries
*.exe
terraform.exe

# OS / Editor clutter
.DS_Store
Thumbs.db
.vscode/